.cards-div
{
    background-color: #28242c;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-evenly;
}
.card
{
    margin-top: 2%;
    border-radius: 20px;
    color: whitesmoke;
    background-color: #242027;
}

.card img{
    height: 200px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.cardText{
    padding: 2%;
    color: white;
    display: flex;
    background-color: #28242c;
    justify-content: center;
}

.homeCards{
    border: 2px solid #31b675;
}

